<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>homePage</title>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap.min.css" th:href="bootstrap.min.css">
</head>
<body>
<H1>Hallo <span th:text="${name}">Otto</span></H1>
<br><br>
<br><br>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>PersonList</th>
        <th>Status</th>
        <th>CreateTime </th>
        <th>RechnungDetails</th>
    </tr>
    </thead>

    <tbody th:remove="all-but-first">
    <tr th:each="p : ${groupList}">
        <td th:text="${p.id}">1</td>
        <td th:text="${p.getName()}">name</td>
        <td th:text="${p.personList}">A ,B</td>
        <td th:text="${p.getGeschlossen()}">Open </td>
        <td th:text="${p.localDateTime}">2023.3.7</td>
        <td> <a th:href="@{/rechnungsDetails/{id}/(id=${p.id})}"
           th:text="details">userName</a>  </td>
    </tr>

    </tbody>
</table>

<a th:href="@{/createGruppe/{name}/(name=${name})}"
   th:text="createGruppe">create</a>


</body>
</html>