<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>homePage</title>
    <link rel="stylesheet" type="text/css"
          href="../static/bootstrap.min.css" th:href="bootstrap.min.css">
</head>
<body>
<H1>Hallo <span th:text="${name}">Otto</span></H1>
<br><br>
<br><br>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>PersonList</th>
        <th>Status</th>
        <th>CreateTime </th>
        <th>AddPerson</th>
        <th>RechnungDetails</th>
    </tr>
    </thead>

    <tbody th:remove="all-but-first">
    <tr th:each="p : ${groupList}">
        <td th:text="${p.id}">1</td>
        <td th:text="${p.personList}">A ,B</td>
        <td th:text="${p.openStatus}">Open </td>
        <td th:text="${p.localDateTime}">2023.3.7</td>
        <td> <a th:href="@{/addPerson/{id}/(id=${p.id})}"
                th:text="Add">userName</a>  </td>
        <td> <a th:href="@{/rechnungsDetails/{id}/(id=${p.id})}"
           th:text="details">userName</a>  </td>
    </tr>

    </tbody>
</table>


<!--
<br><br>

<h2>AddRechnung</h2>

<form method="post" th:action="">
  <label for="rechnungname">RechnungName:</label>
  <input id="rechnungname" type="text" name="text">
  <br>
  <label for="payer">Payer:</label>
  <input id="payer" type="text" name="text">
  <br>
  <label for="personlist">PersonList:</label>
  <input id="personlist" type="text" name="text">

  <button type="submit">Abschicken</button>
</form> -->


</body>
</html>